<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
<%= favicon_link_tag asset_path('favicon.png') %>    <%= csrf_meta_tags %>

<link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-8c8d788ad0ee06dbc9619ff907c22651.css?vsn=d"
    >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css"
      >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="ui container">
<%= render 'layouts/messages' %>

    <%= yield %>
    </div>
  </body>
</html>
